* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff173;
  transition: 0.5s;
  border: 1px black solid;
  background-image: url("balon-ugrinovci2.jpg");
  background-size: cover;

  padding: 20px;
}
.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.container.content {
  border: 1px black solid;
  max-width: 800px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  margin: 40px;
  border: 1px black solid;
  position: relative;
  padding: 20px 40px;
  color: #fff;
  background-color: #111;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 2px;
}
#popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#statistika {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#zabava {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#statistika.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#zabava.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
#zabava a {
  margin-top: 100px;
}
#popup table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 1.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
h1 {
  text-align: center;
}
